@media (min-width: 1024px) {
  .nav-link {
    position: relative;
    &:hover::after {
      width: 75%;
      margin: auto;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: "";
      width: 0%;
      height: 1.5px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: black;
      transition: all 0.2s ease-in-out;
    }
  }
}
